<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Update your password</h1>

  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

  <%= form_with url: password_path(params[:token]), method: :put, class: "contents" do |form| %>
    <div class="my-5" >
      <%= form.label :password, "Hasło" %><br>
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Wpisz nowe hasło", maxlength: 72, class: "input-field" %>
    </div>
    <div class="my-5">
      <%= form.label :password_confirmation, "Powtórz hasło" %><br>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Powtórz nowe hasło", maxlength: 72, class: "input-field" %>
    </div>
    <%= form.submit "Zapisz", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  <% end %>
</div>